#dtype= fake,csv,sql,sqlite
dtype: sqlite
#if dtype = csv
prod_info_path: prod_info_path
rat_info_path: rat_info_path
uhis_info_path: uhis_info_path
#if dtype = mysql
user: user
password: password
host: host
#if dtype = mysql or sqlite
database: /run/user/1000/gvfs/smb-share:server=192.168.37.20,share=wrappers-master/db.sqlite3
#tablename
prod_info: saler_product
rat_info: saler_productreview
uhis_info: main_history
#set columns
prodId: product_id
name: product_name
description: desc
userId: user_id
product_review: review
rating: star
# only_qualified product will use based on the minimum rating count required to be listed in the data.
only_qualified: False
#Saved db name
sdb: rpdata